
<!DOCTYPE html>
<html lang="fr">
<main>
    <div>
        <!-- <a>Nom</a>
        <input id='name'>
        <a>Prenom</a>
        <input id="firstname">
        <a>email</a>
        <input id="email">
        <a>mot de passe</a>
        <input id="password">
        <a>Confirmation du mot de passe</a>
        <input id="confirm-pw">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkDefault">
            <label class="form-check-label" for="checkDefault">
                Se souvenir de moi ?
            </label>
        </div>
        <button>S'inscrire</button> -->
        <form action="" method="post" enctype="multipart/form-data" class="register-display">
            <div class="register-disp">
                <label for="nom" class="login-label">Nom</label>
                <input type="text" placeholder="Nom" name="nom" class="register-input">
            </div>
            <div class="register-disp">
                <label for="prenom" class="register-label">Prénom</label>
                <input type="text" placeholder="Prénom" name="prenom" class="register-input">
            </div>
            <div class="register-disp">
                <label for="email" class="register-label">E-mail</label>
                <input type="email" placeholder="E-mail" name="email" class="register-input">
            </div>
            <div class="register-disp">
                <label for="mdp" class="register-label">Mot de passe</label>
                <input type="password" placeholder="Mot de passe" name="password" class="register-input">
            </div>
            <div class="register-disp">
                <input type="submit" class="register-submit" value ="S'enregistrer">
            </div>
        </form>
    </div>
    
</main>